@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
   margin: 0;
   padding: 0;
}


body{
    background-color: black;
    color: blanchedalmond;
}


.left{
    width: 25vw;
    padding: 10px;
    
}

.right{
   width: 75vw; 
}

.home{
    padding: 10px;
    
}

.home ul li{
    display: flex;
    gap: 9px;
    width: 15px;
    list-style: none; 
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img{
    width: 28px;
}

.footer{
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
}
.right{
    
}

.footer a{
    color: grey;
}

.library{
    min-height: 80vh;
    position: relative;
}

.header{
    height: 72px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(34,34,34);
}

.header > *{
    padding:20px;
}
.spotify-playlist{
    padding: 16px;
}
.card img{
     /* width: 240px;
    height: 220px;  */
    width: 100%;
    object-fit: contain;
}
.spotify-playlist .card{
   width: 220px;
   padding: 10px;
   border-radius: 5px;
   background-color: #252525;
   position:relative;
   
}
.card > *{
    padding-top: 6px;
}
.cardContainer{
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
     max-height: 70vh;
    overflow: scroll;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 88px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.button > *{
    margin: 0 12px;
}

.buttons > *{
   margin: 0 12px;
}

.signupbtn{
    background-color: black;
    color: rgb(82,82,82);
    font-weight: bold;
    border: none;
      cursor: pointer;
      font-size: 16px;
      padding: 4px;
}
.signupbtn:hover{
    font-size: 1.01rem;
    color: white;
  
}

.loginbtn{
 background-color: white; 
 color: black;
 border-radius: 14px;
 font-weight: bold;  
 padding: 8px;
 width: 80px;
 cursor: pointer;
}

.loginbtn:hover{
  font-weight: bold;
  padding: 10px 12px; 
  font-size: 17px; 
}

.spotify-playlist{
    position: relative;
}

.playbar{
    position: absolute;
    bottom: 15px;
    background-color: rgb(37, 41, 37);
    width: 68%;
    padding: 12px;
    position: fixed;
    border-radius: 5px;
}

.songbtn{
    display: flex;
    justify-content: center;
    gap: 12px;
    filter: invert(1);
    cursor: pointer;
}

.songlist{
    height: 480px;
    overflow: auto;
}

.songlist ul{
  padding: 0 12px;

}

.songlist ul li{
   list-style-type: decimal;
   display: flex;
   gap: 12px;
   cursor: pointer;
   padding: 12px 0;
   border: 1px solid white;
   margin: 12px 0;
   padding: 13px;
   border-radius: 5px;
   justify-content: space-between;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playnow span{
    font-size: 15px;
    width: 64px;
    padding: 2px;
}

.seekbar{
    width: 98%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: rgb(219, 37, 37);
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}
